:root {
    --background-color: rgb(235, 235, 235);
    --container-background-color: white;
    --container-background-color-hover: rgb(190, 190, 190);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --text-color: black;
    --button-background: red;
    --button-background-hover: rgb(255, 109, 109);
    --button-text-color: white;
    --button-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5), 0px 0px 10px rgba(255, 0, 0, 0.5);
    --vantagens-color: rgb(220, 220, 220);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(35, 35, 35);
        --container-background-color: rgb(45, 45, 45);
        --container-background-color-hover: rgb(40, 40, 40);
        --box-shadow: rgba(0, 0, 0, 0.1);
        --text-color: white;
        --button-background: rgb(255, 59, 59);
        --button-background-hover: rgb(225, 49, 49);
        --button-text-color: white;
        --button-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5), 0px 0px 10px rgba(255, 0, 0, 0.5);
        --vantagens-color: rgb(26, 26, 26);
    }

    header img {
        filter: invert(1);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
}

header {
    display: grid;
    padding: 50px;
    gap: 20px;
    justify-content: center;
}

header img {
    justify-self: center;
    margin-bottom: 30px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a{
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--container-background-color);
    border-radius: 8px;
    color: var(--text-color);
    font-weight: 600;
    transition: ease-out 0.2s;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

header ul li a:hover {
    background-color: var(--container-background-color-hover);
}

main {
    background-color: var(--container-background-color);
    margin: 0 5dvw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.produto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.produto aside {
    display: grid;
    margin: auto;
    gap: 20px;
    text-align: end;
    padding: 50px;
    color: var(--text-color);
}

.produto aside h2 {
    font-size: 2.5rem;
}

.produto aside p {
    justify-self: end;
    font-weight: 500;
    font-size: 1.3rem;
    max-width: 50ch;
}

.produto aside a {
    text-decoration: none;
    color: var(--button-text-color);
    font-weight: 600;
    padding: 10px 20px;
    justify-self: end;
    background-color: var(--button-background);
    border-radius: 10px;
    box-shadow: var(--button-box-shadow);
    transition: ease-out 0.3s;
}

.produto aside a:hover {
    background-color: var(--button-background-hover);
    transform: scale(105%);
}

.produto img {
    box-shadow: 0px 0px 10px var(--box-shadow);
    border-radius: 10px;
    display: block;
    max-width: 100%;
    position: relative;
}

.vantagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.vantagens h2 {
    font-size: 5rem;
    text-align: right;
    align-self: center;
    margin-right: 20px;
    color: var(--vantagens-color);
    max-width: 50ch;
}

.vantagens ul {
    list-style: none;
    margin: 20px;
}

.vantagens ul li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 20px;
    transition: ease-in-out 0.1s;
    color: var(--text-color);
}

.vantagens ul li:nth-child(odd) {
    background-color: var(--vantagens-color);
}

.vantagens ul li:nth-child(even) {
    background-color: var(--container-background-color);
}

.vantagens ul li:hover {
    border-left: 5px solid var(--button-background);
    background-color: var(--container-background-color-hover);
}

.vantagens ul li img {
    justify-self: end;
}

.vantagens ul li p {
    grid-column: 2;
}

.vantagens ul li:first-child {
    border-radius: 20px 20px 0px 0px;
}

.vantagens ul li:last-child {
    border-radius: 0px 0px 20px 20px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--container-background-color);
    text-align: center;
    box-shadow: 0px 0px 10px var(--box-shadow);
    border-radius: 20px 20px 0px 0px;
}

footer p {
    font-weight: 600;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--background-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

footer a:hover {
    background-color: var(--container-background-color-hover);
}

@media (max-width: 768px) {
    nav ul li a {
        display: block;
        padding: 5px 10px;
        margin: 10px;
    }

    .produto {
        grid-template-columns: 1fr;
    }

    .produto img {
        grid-row: 1;
    }

    .produto aside {
        text-align: center;
    }

    .produto aside a {
        justify-self: center;
        padding: 10px;
    }
    
    .vantagens {
        grid-template-columns: 1fr;
    }

    .vantagens h2 {
        display: none;
    }
}

@media (max-width: 530px) {

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}